<div data-testid="draggable"
     class="absolute z-50 cursor-grab select-none bg-gray-300 rounded flex flex-col justify-center items-center"
     style="left: 55px; top: 651px;">
  <div class="bg-gray-500 text-white text-sm font-bold p-1 rounded-t w-full flex justify-between items-center"><span>Debugger (Drag Me)</span><span
     class="text-2xl">⤱</span></div>
  <div class="p-2">
    <div class="flex flex-col space-y-4 p-4 bg-gray-100 rounded-md shadow-sm">
      <div class="flex items-center space-x-4"><label class="text-gray-700 font-medium">Environment:</label><select
         data-testid="environmentInput" class="ml-2 border p-2 rounded-md text-gray-600">
        <option value="Production">Production</option>
        <option value="Staging">Staging</option>
        <option value="Development">Development</option>
      </select></div>
      <div class="flex items-center space-x-4"><label class="text-gray-700 font-medium">Session
        Storage:</label><select data-testid="sessionStorageTypeInput"
                                class="ml-2 border p-2 rounded-md text-gray-600">
        <option value="file">File</option>
        <option value="redis">Redis</option>
      </select></div>
      <div class="flex items-center space-x-4"><label class="text-gray-700 font-medium mr-2">Emulate
        Error:</label><input data-testid="fatalErrorInput" type="checkbox" class="border rounded-md"></div>
    </div>
  </div>
</div>