<p class="mb-4"><strong>Congrats!</strong> You now have the
    Upsun Demo
    Guide deployed to a production environment.</p>
<div class="mb-4">By this point you have:<br>
    <ul class="list-disc list-inside">
        <li class="mt-2 ml-6">Created a <em>project</em>, the Upsun counterpart to a
            <em>repository</em>.
        </li>
        <li class="mt-2 ml-6">Installed the Upsun CLI</li>
        <li class="mt-2 ml-6">Cloned the demo: <code class="ml-2 px-4">git clone
            git@github.com:platformsh/demo-project.git</code></li>
        <li class="mt-2 ml-6">Connected to Upsun: <code class="ml-2 px-4">upsun
            project:set-remote
            XXX_ID_XXX</code></li>
        <li class="mt-2 ml-6">Pushed to Upsun: <code class="ml-2 px-4">upsun
            push</code></li>
        <li class="mt-2 ml-6">Retrieved the deployed environment URL: <code
                class="ml-2 px-4">upsun
            url --primary</code></li>
    </ul>
</div>
<p class="mb-2">With the production environment now deployed, you can move onto the
    next step:
    creating preview environments to make your first revision!
</p>