<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}My Flask App{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body class="bg-white">
<header class="bg-black text-white text-2xl text-center py-3">
  <h1>My Flask App</h1>
</header>

<main class="container my-4">
  {% block content %}{% endblock %}
</main>

<footer class="bg-black text-white text-center py-3">
  <p>&copy; 2024 My Flask App</p>
</footer>

</body>
</html>